.contact-list {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
  padding: 0;
  list-style: none;
}

.contact-item app-button {
  display: inline-block;
  margin-top: 0.75rem;
}

@media (min-width: 640px) {
  .contact-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
