<app-section surface="raised">
  <app-container>
    <app-heading [level]="2" visual="h2">Capacidades técnicas</app-heading>

    @if (groups().length > 0) {
      <ul class="capabilities-list">
        @for (group of groups(); track group.id) {
          <li>
            <app-card>
              <app-heading [level]="3" visual="h4">{{ group.name['pt-BR'] }}</app-heading>
              <ul class="capabilities-items">
                @for (item of group.items; track item) {
                  <li>
                    <app-tag>{{ item }}</app-tag>
                  </li>
                }
              </ul>
            </app-card>
          </li>
        }
      </ul>
    }
  </app-container>
</app-section>
